{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Coinflip - Play Game</title>
    <link rel="stylesheet" type="text/css" href="{% static 'starterCSS.css' %}">
</head>
<body>
    <img src="{% static 'images/coin.png' %}" alt="Coinflip Image" class="top-image">
    <h1 id="heading">Play Game</h1>
    
    {% if not game.completed %}
        {% if game.player1.user_profile.user != user %}
            <p>Game ID: {{ game.id }}</p>
            <p>Player 1: {{ game.player1.user_profile.user.username }}</p>
            <p>Side: {{ game.player1.side }}</p>
            <p>Bet: {{ game.bet }}</p>
            
            <div id="countdown" style="color: #FFF;">3</div>
            
            <button id="play-button">Play</button>
        {% else %}
            <p>You cannot play your own game.</p>
            <button onclick="window.location.href='/lobby'">Back to Lobby</button>
        {% endif %}
    {% else %}
        {% if result %}
            <p>Game Result: {% if result == 'win' %}You Won!{% else %}You Lost!{% endif %}</p>
            <button onclick="window.location.href='/lobby'">Back to Lobby</button>
        {% else %}
            <p>Game ID: {{ game.id }}</p>
            <p>Player 1: {{ game.player1.user_profile.user.username }}</p>
            <p>Side: {{ game.player1.side }}</p>
            <p>Bet: {{ game.bet }}</p>
            <p>Game Completed</p>
            <button onclick="window.location.href='/lobby'">Back to Lobby</button>
        {% endif %}
    {% endif %}
    
    <script>
        var countdownElement = document.getElementById('countdown');
        var playButton = document.getElementById('play-button');
        var countdown = 3;
        
        playButton.addEventListener('click', function() {
            playButton.disabled = true;
            
            var countdownInterval = setInterval(function() {
                countdown--;
                countdownElement.textContent = countdown;
                
                if (countdown === 0) {
                    clearInterval(countdownInterval);
                    playGame();
                }
            }, 1000);
        });
        
        function playGame() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        document.body.innerHTML = xhr.responseText;
                    }
                }
            };
            xhr.open('POST', '/play_game/{{ game.id }}/', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            xhr.send();
        }
    </script>
</body>
</html>